* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: #232323 url(../assets/background.jpg);
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.box {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.iconDiv {
  cursor: pointer;
}
